// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-tokei {

    background-color: black;
    color: rgba(255, 255, 255, 0.3);

    h2 {
        color: rgba(255, 255, 255, 0.3);
    }

}